{{define "_content"}}
{{range .Channels}}
<table class="table">
    <thead>
    <tr>
        <th colspan="2">
            Channel: {{.Name}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            Format:
        </td>
        <td>
            {{.Format}}
        </td>
    </tr>
    <tr>
        <td>
            Log:
        </td>
        <td>
            {{.Log}}
        </td>
    </tr>
    <tr>
        <td>
            Patterns:
        </td>
        <td>
            {{range .Patterns}}
            {{.}}<br/>
            {{end}}
        </td>
    </tr>
    <tr>
        <td>
            Health:
        </td>
        <td>
            {{if eq .Health true}}
            <span style="color: green">OK (checked at: {{.CheckedAt}})</span>
            {{else}}
            <span style="color: red">Failed (checked at: {{.CheckedAt}})</span>
            {{end}}
        </td>
    </tr>
    </tbody>
</table>
{{end}}
{{end}}