{{define "_content"}}
<table class="table">
    <thead>
    <tr>
        <th>Test</th>
        <th>Expectations</th>
        <th>Runs</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{range .Tests}}
    <tr>
        <td>
            <a href="/show?testname={{.Name}}">{{.Name}}</a>
        </td>
        <td style="text-align:right;">
            {{len .Expectations}}
        </td>
        <td style="text-align:right;">
            {{.Verifications}}
        </td>
        <td>
            <a href="/delete?testname={{.Name}}">
                <span class="icon is-right">
                    <i class="fa fa-trash"></i>
                </span>
            </a>
            <a href="/noise?testname={{.Name}}">
                <span class="icon is-right">
                    <i class="fa fa-bar-chart"></i>
                </span>
            </a>
            <a href="/run?testname={{.Name}}">
                <span class="icon is-right">
                    <i class="fa fa-play"></i>
                </span>
            </a>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
<a href="/new">
    <span class="icon is-right">
        <i class="fa fa-microphone"></i>
    </span>
    Record test...
</a>
{{end}}