<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataFrog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
    <style>
        .wrapper-root {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .wrapper-content {
            flex: 1;
        }
    </style>
</head>
<body>
<div class="wrapper-root">
    <div class="wrapper-content">
        <section class="hero is-link">
            <div class="hero-body">
                <a href="/" class="title">DataFrog Cockpit</a>
                <p class="subtitle">{{.Title}}</p>
            </div>
        </section>
        <div class="section">
            <div class="columns">
                <div class="column is-one-fifth">
                    <aside class="menu">
                        <ul class="menu-list">
                            <li>
                                <a href="/sut">
                                    <span class="icon is-right">
                                    <i class="fa fa-desktop"></i>
                                    </span>
                                    SUT
                                </a>
                            </li><li>
                                <a href="/">
                                    <span class="icon is-right">
                                    <i class="fa fa-list"></i>
                                    </span>
                                    Tests
                                </a>
                            </li>
                            <li>
                                <a href="/playwright">
                            <span class="icon is-right">
                                <i class="fa fa-chrome"></i>
                            </span>
                                    Playwright
                                </a>
                            </li>
                            <li>
                                <a href="/settings">
                            <span class="icon is-right">
                                <i class="fa fa-sliders"></i>
                            </span>
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="column">
                    {{if hasInfo}}
                    <div class="notification is-success is-light">
                        <button class="delete"></button>
                        {{info}}
                    </div>
                    {{end}}
                    {{if hasError}}
                    <div class="notification is-danger is-light">
                        <button class="delete"></button>
                        {{error}}
                    </div>
                    {{end}}
                    {{template "_content" .}}
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>DataFrog</strong> by <a href="https://codekeepers.de">CodeKeepers</a>.
                The source code is licensed by
                <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
            </p>
        </div>
    </footer>
</div>
</body>
</html>