<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataFrog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
</head>
<body>
<section class="hero is-link">
    <div class="hero-body">
        <p class="title">DataFrog Cockpit</p>
        <p class="subtitle">{{.Title}}</p>
    </div>
</section>
<div class="section">
    <div class="columns">
        <div class="column is-one-fifth">
            <aside class="menu">
                <ul class="menu-list">
                    <li><a href="/">Tests</a></li>
                    <li><a href="/playwright">Playwright</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </aside>
        </div>
        <div class="column">
            {{if hasInfo}}
            <div class="notification is-success is-light">
                <button class="delete"></button>
                {{info}}
            </div>
            {{end}}
            {{if hasError}}
            <div class="notification is-danger is-light">
                <button class="delete"></button>
                {{error}}
            </div>
            {{end}}
            {{template "_content" .}}
        </div>
    </div>
</div>
</body>
</html>