<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataFrog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title"><a style="color: inherit; text-decoration: inherit" href="/" title="zur Startseite">{{.Title}}</a></h1>
        <div class="mb-2">
            <a href="/">All Tests</a> |
            <a href="/settings">Settings</a>
        </div>
        {{if hasInfo}}
        <div class="notification is-success is-light">
            <button class="delete"></button>
            {{info}}
        </div>
        {{end}}
        {{if hasError}}
        <div class="notification is-danger is-light">
            <button class="delete"></button>
            {{error}}
        </div>
        {{end}}
        {{template "_content" .}}
    </div>
</section>
</body>
</html>