{{define "_content"}}
<table class="table">
    <thead>
    <tr>
        <th colspan="2">
            Playwright
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            Project directory:
        </td>
        <td>
            {{.Config.Playwright.BaseDir}}
        </td>
    </tr>
    <tr>
        <td>
            Test directory:
        </td>
        <td>
            {{.Config.Playwright.TestDir}}
        </td>
    </tr>
    <tr>
        <td>
            Record command:
        </td>
        <td>
            npx playwright codegen {{.Config.SUT.BaseURL}} -o TEST_NAME
        </td>
    </tr>
    <tr>
        <td>
            Replay command:
        </td>
        <td>
            npx playwright test TEST_NAME
        </td>
    </tr>
    </tbody>
</table>
{{end}}