<progress class="progress {{.Color}}" value="{{.Progress}}" max="100"
          hx-get="/progress-recording?testname={{.Testname}}"
          hx-trigger="every 600ms"
          hx-target="#progress-bar"
          hx-swap="innerHTML">
</progress>
<div class="columns">
    <div class="column">
        Recorded {{.Expectations}} expectation(s)
    </div>
    <div class="column">
        <span style="float: right">
            {{if eq .Progress 100}}
                <a href="/stoprecording?testname={{.Testname}}">Run verification</a>
            {{else}}
                <a href="/stoprecording?testname={{.Testname}}">Stop and run verification</a>
            {{end}}
        </span>
    </div>
</div>