<progress class="progress {{.Color}}" value="{{.Progress}}" max="100"
          hx-get="/progress-recording?testname={{.Testname}}"
          hx-trigger="every 600ms"
          hx-target="#progress-bar"
          hx-swap="innerHTML">
</progress>
<div class="columns">
    <div class="column">
        Recorded {{.Expectations}} expectation(s)
    </div>
    <div class="column">
        <span style="float: right">
            <a href="/stoprecording?testname={{.Testname}}">Finish recording</a>
        </span>
    </div>
</div>