<progress class="progress {{.Color}}" value="{{.Progress}}" max="100"
          hx-get="/progress-verification?testname={{.Testname}}"
          hx-trigger="every 600ms"
          hx-target="#progress-bar"
          hx-swap="innerHTML">
</progress>
<div class="columns">
    <div class="column">
        {{.Fulfilled}} of {{.Expectations}} expectations verified
    </div>
    <div class="column">
        <span style="float: right">
        {{if eq .Fulfilled .Expectations}}
            <a href="/stop?testname={{.Testname}}">Show Results</a>
        {{else}}
            <a href="/stop?testname={{.Testname}}">Quit</a>
        {{end}}
        </span>
    </div>
</div>

