<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DataFrog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            DataFrog Dashboard
        </h1>
        <table class="table">
            <thead>
            <tr>
                <th>Testname</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {{range .Tests}}
            <tr>
                <form action="/run" method="POST">
                    <td>
                        {{.Name}}
                    </td>
                    <td>
                        <input class="button is-primary is-small" type="submit" value="Start...">
                    </td>
                </form>
            </tr>
            {{end}}
            </tbody>
        </table>
        <a href="/new">Create new test...</a>
    </div>
</section>
</body>
</html>