{{define "_content"}}
<div class="columns">
    <div class="column is-one-third">{{.Testname}}</div>
    <div class="column">
        <div id="progress-bar">
            <progress class="progress is-warning" value="0" max="100"
                      hx-get="/progress-recording?testname={{.Testname}}&progress=0"
                      hx-trigger="every 600ms"
                      hx-target="#progress-bar"
                      hx-swap="innerHTML">
            </progress>
            Recorded 0 expectations
        </div>
    </div>
</div>
<a href="/stoprecording?testname={{.Testname}}">Stop recording...</a>
{{end}}