{{define "_content"}}
<form action="/stop" method="POST" id="stop"></form>
<table class="table">
    <thead>
    <tr>
        <th>Testname</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{.Testname}}
        </td>
        <td>
            <input class="button is-small is-danger" type="submit" value="Stop..." form="stop">
            <input type="hidden" name="testname" value="{{.Testname}}" form="stop"/>
        </td>
    </tr>
    </tbody>
</table>
{{end}}