<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>
<body style="padding: 0px 10px">
<h1><a style="color: inherit; text-decoration: inherit" href="/" title="zur Startseite">Test is running</a></h1>
<table class="pure-table pure-table-horizontal">
    <thead>
    <tr>
        <th>Testname</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form action="/stop" method="POST">
            <td>
                {{.Testname}}
            </td>
            <td>
                <input class="pure-button pure-button-primary" type="submit" value="Stop...">
                <input type="hidden" name="mode" value="stop">
            </td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>