{{define "_content"}}
<div class="columns">
    <div class="column">
        <table class="table">
            <thead>
            <tr>
                <th>Test</th>
                <th>Expectations</th>
                <th>Runs</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{range .Tests}}
            <tr>
                <td>
                    <a href="/show?testname={{.Name}}">{{.Name}}</a>
                </td>
                <td style="text-align:right;">
                    {{len .Expectations}}
                </td>
                <td style="text-align:right;">
                    {{.Verifications}}
                </td>
                <td>
                    <a href="/delete?testname={{.Name}}">Delete</a> |
                    {{if eq .Verifications 0}}
                    <a href="/run?testname={{.Name}}">Verify</a>
                    {{else}}
                    <a href="/run?testname={{.Name}}">Start</a>
                    {{end}}
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
        <a href="/new">Create new test...</a>
    </div>
    <div class="column">
        <table class="table">
            <thead>
            <tr>
                <th colspan="2">
                    Settings
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Logfile:
                </td>
                <td>
                    {{.Config.Filename}}
                </td>
            </tr>
            <tr>
                <td>
                    Logformat:
                </td>
                <td>
                    {{.Config.Logformat}}
                </td>
            </tr>
            <tr>
                <td>
                    Patterns:
                </td>
                <td>
                    {{range .Config.Patterns}}
                    {{.}}<br/>
                    {{end}}
                </td>
            </tr>
            <tr>
                <td>
                    Report additional expectations:
                </td>
                <td>
                    {{.Config.Expectations.ReportAdditional}}
                </td>
            </tr>
            <tr>
                <td>
                    Web Port:
                </td>
                <td>
                    Port: {{.Config.Web.Port}}
                </td>
            </tr>
            <tr>
                <td>
                    API Port:
                </td>
                <td>
                    Port: {{.Config.Api.Port}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{{end}}