{{define "_content"}}
<div class="columns">
    <div class="column is-one-third">{{.Testname}}</div>
    <div class="column">
        <div id="progress-bar">
            <progress class="progress is-warning" value="0" max="100"
                      hx-get="/progress?testname={{.Testname}}"
                      hx-trigger="every 600ms"
                      hx-target="#progress-bar"
                      hx-swap="innerHTML">
            </progress>
            <div class="columns">
                <div class="column">
                    0 of {{.Expectations}} expectations verified
                </div>
                <div class="column">
                    <span style="float:right;">
                    <a href="/stop?testname={{.Testname}}">Abort Test</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}